<div>
    <h2>Manage Components</h2>
    <button (click)="onComputerClick()">
        <span>Computers</span>
    </button>
    <button (click)="onGraphicsCardsClick()">
        <span>Graphics Cards</span>
    </button>
    <button (click)="onPowerSupplyClick()">
        <span>Power Supply</span>
    </button>
    <button (click)="onProcessorClick()">
        <span>Processors</span>
    </button>
    <button (click)="onRAMClick()">
        <span>RAM</span>
    </button>
    <button (click)="onStorageClick()">
        <span>Storage</span>
    </button>
</div>
